/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2459c2;
    color: #ffffff;
  }
  
  /* Clock Container */
  .clock-container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #clock {
    font-size: 3rem;
    font-weight: bold;
    background: #fe4fc1;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #000;
  }
  